.container {
  max-width: 400px;
  margin: 0 auto;
}

form {
  display: flex;
  flex-direction: column;
}

form label {
  margin: 10px 0 10px 0;
}

#submit {
  margin: 10px 0 10px 0;
  width: 100px;
}